footer {
   background-color: rgb(0, 150, 153);
   color: whitesmoke;
   text-align: center;
   padding: 1em 0;
   border-radius: 10px 10px 0px 0px;
   margin-top: -10px;
}

footer p {
   font-size: smaller;
}

footer a {
   font-size: medium;
   color: whitesmoke;
}
